.section {
  position: relative;
  overflow: hidden;
}

.section-shaped {
  position: relative;
  overflow: hidden;
}

.page-header {
  min-height: 75vh;
  max-height: 999px;
  padding: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.light-blue {
  background: linear-gradient(to bottom right, #000008, rgb(0, 0, 80),rgb(1, 1, 133), rgb(1, 32, 158), rgb(0, 0, 80));
}



#particles-js {
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


}